--------------------------------------------------------------------------------
INPUTS
--------------------------------------------------------------------------------
Time:               {time}
Weight:             {weight_kg:.2f} kg
Distance:           {distance_km:.2f} km
Average speed:      {speed_kmph:.2f} km/h
